body {
  font-family: 'Roboto', sans-serif;
  background-color: #efe6dd;
  color: black;
  font-size: 1.25rem;
}

h1 {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  text-shadow: white 2px 4px;
}

h2 {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

h3 {
  margin: 0;
  display: flex;
}
p, li {
  font-weight: 300;
}
.samples {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  background: #FFA19A;
  width: auto;
}

.contact {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  background: #efe6dd;
  color: black;
  width: auto;
}

.samples li,
.contact li {
  list-style: none;
  display: flex;
  list-style: none;
  margin: 5px 10px;
  white-space: nowrap;
}

.samples li a,
.contact li a {
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  width: 90px;
  text-align: center;
  color: #120d31;
}
a {
  color: #1c77c3;
  font-weight: 700;
  text-shadow: white 1px 2px;
}
nav {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1rem;
}
.navbar {
  padding-bottom: 0;
}
.nav-link {
  border: 2px solid transparent;
  text-shadow: none;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: black;
}
.nav-link.active {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-shadow: none;
}
.navbar-light .navbar-nav .nav-link {
  color: #646464;
}
#root {    
  background-color: transparent;
  /* min-height: 2000px; */
}
.nav-brand-text {
  color: #1c77c3;
}
.hide-a11y {
  position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

a {
  text-decoration: none;
}

.stripes {
  width: 30%;
  opacity: 0.125;
  height: 45%;
}

.bubble {
  width: 50%;
  opacity: 0.5;
  height: 50%;
}

.row {
  display: flex;
}

.bio-title {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bio-text {
  margin: 0;
  width: 100%;
}

.title {
  margin: 0;
  width: 100%;
}


.hide-small {
  display: none;
}

.home {
  color: #0c120c;
}

.img-art {
  height: 50%;
  width: auto;
  opacity: .25;
}

.img-art-two {
  opacity: .1;
  position: absolute;
  width: 60%;
  height: auto;
}
.img-footer {
  height: 7%;
  opacity: .5;
}

.page-title {
  text-shadow: white 2px 5px;
  color: #1c77c3;
}
.delta-size {
  height: 20%;
  width: auto;
}
@media only screen and (min-width: 1400px) {

  .img-art-two {
    width: 100%;
  }

  .hide-small {
    display: inline-flex;
  }
  .samples {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* background: #BCD2EE; */
    width: 100%;
    flex-direction: row;
  }

  .contact li a {
    width: 170px;
  }

  .samples li a {
    width: 170px;
  }

  .contact {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
